/**/

header{
    background-color: #92bd3f;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
}
footer{
    padding-left: 15%;
    padding-bottom: 5px;
}
body{
    background-color: #FFFDEA;
        
}

h1{
    padding-left: 10%;
   color: black;
   -webkit-text-fill-color: #f2cd2b; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 30pt;
}
/*ORGANIZING CONTENT*/
h2{
    padding-left: 15%;
    padding-top: 85px;
}
h3, p{
    padding-left: 15%;
}
iframe{
    padding-left: 15%;
}

figure{
    padding-left: 15%;
}
figure.yes{
   align-content: center;
}
ul.building{
    padding-left: 15%;
}
/*TABLE FORMATTING*/
table{
    border:1px solid black;
    margin-left: 15%;
}
th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding-left: 3px;
}

/*NAVIGATION BAR*/
ul.nav{
    list-style-type: none;
    margin: 0;
    width: 10%;
    background-color: #92bd3f;
    position: fixed;
    height: 100%;
    overflow: auto; 
    margin-top: 4em;
    padding-top: 2em;    
}
